.page-team-members-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 40px;
        font-weight: 300;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 1.4;
          margin-bottom: 40px;
          font-weight: 300;
        }
      }
    }
  }
}

.team-member-single {
  display: flex;
  @include media-breakpoint-up(xs) {
    // display: ;display: flex;
    align-items: center;
    flex-direction: column;
  }
  .team-member-photo {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 2em;
    margin-top: -2em;

    img {
      // height: 269px;
      width: 92%;
      /* max-width: 100%; */
      /* height: auto; */
      // object-fit: cover;
    }
  }
}

.team-member-photo {
}
